#CHXH{
text-align:center;
font-size:30px;
style="font-style:oblique;"
}
h1{
text-align:center;
color: blue;
}
#trangtri{
text-align:center;
font-size:25px;
}
#K,#k1,#k2,#k3{
text-indent:30px;
}
#p1,#p2,#p3,#p4{
text-indent:30px;
}
#p5,#p6,#p7,#p8{
text-align:right;
}
img{
display:middle;
}